[submodule "cadpage"]
	path = cadpage
	url = git@github.com:cadpage/cadpage-cadpage.git
        branch = production
[submodule "cadpage-private"]
	path = cadpage-private
	url = git@github.com:cadpage/cadpage-private.git
